
  <h2><%= @cocktail.name %></h2>
  <h3>Ingredients</h3>
  <div class="cocktail">
	 <div class="List">
	 <br>
	 <% @cocktail.ingredients.each do |ingredient| %>
	 	<p><%= ingredient.name + " : " %><%= ingredient.doses.first.description + " "%><%= link_to "(Remove)", cocktail_dose_path(@cocktail.id, ingredient.doses.first[:id]), method: "delete", class: "remove", data: { confirm: "Are you sure?" } %></p> 
	 <% end %>
	 <p><%= link_to "Add an ingredient", new_cocktail_dose_path(@cocktail.id), class: "add" %></p>  
	 </div>
  <%= image_tag(@cocktail.picture, class: "pic") if @cocktail.picture%>
  <% if @cocktail.upload != nil%>
  <%= cl_image_tag(@cocktail.upload) %>
  <% end %>
</div>


