<div class="dose">
	<h2>Add an ingredient</h2>
	<%= simple_form_for [@cocktail, @dose] do |f| %>
	  <%= f.association :ingredient%>
	  <br>
	  <br>
	  <%= f.label :description%>
	  <br>
	  <%= f.text_field :description%>
	  <br>
	  <br>
	  <%= f.submit %>
	<% end %>
</div>





